body {
    padding: 0;
    margin: 0;
    background-color: #b8c1ca;
}

.jumbotron {
    background-color: #248999;
}

.jumbotron h1 {
        font-family: Trade Winds;
        text-align: center;
        color: white;
}

h3 {
    font-family: Trade Winds; 
}

.section-2 {
    background-color: #b8c1ca;
}

.section-3 h3 {
    padding-left: 30px;
    color: white;
}

.section-3 {
    background-color: #477d86; 
    color: white;
    
}

.instructions {
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
}

.container {
    padding-top: 20px;
    font-size: 20px;
}

.container-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #b8c1ca;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}

.sec {
    background-color: #477d86;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec h3 {
    text-align: center;
    padding-right: 10px;
    color: white;
}

footer {
    background-color: black;
    color: white;
}