body {
    padding: 0;
    margin: 0;
    background-color: #b8c1ca;
}

#navbarSupportedContent ul li {
    padding-left: 50px;
    font-size: 18px;
    color: white;
}

.jumbotron {
    background-color: #248999;
}

.jumbotron h1 {
        font-family: Trade Winds;
        text-align: center;
        color: white;
}

.hero-image {
    border: 10px solid white;
    width: 100%;
}

.table {
    width: 500px;
}

h3 {
    font-family: Trade Winds;
    font-size: 40px; 
}

.section-2 {
    background-color: #b8c1ca;
}

.section-3 h3 {
    padding-left: 30px;
    color: white;
}

.section-3 {
    background-color: #477d86; 
    color: white;
    
}

.instructions {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
}


.container {
    padding-top: 20px;
    font-size: 20px;
}

.container-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #b8c1ca;
}

.container-1 #discrip p {
    margin-left: 70px;
    margin-right: 70px;
    font-size: 18px;
}

.tyler {
    width: 100%;
    border: 10px solid white;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.sec {
    background-color: #477d86;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec h3 {
    text-align: center;
    padding-right: 10px;
    
    color: white;
}

#discrip h4 {
    font-family: Trade Winds;
}

footer {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
}